<section>
<h1 style = 'color:black'>About Us</h1>

<div class = 'container' style = 'padding-top:30px; padding-bottom:30px'>
	
<div class = 'aboutbox'>
	<div class = 'row'>
		<div class = 'col-lg-12 about' style = 'color:black'>
						
			<div style = 'color:black; padding:30 30 30 30;'>
				US1Travel, a Travel Management company licensed by ARC & IATA, was founded in December of 1987 in Los Angeles, California.  In 1992, the company relocated its offices to Santa Monica, California, its current location.

			By 1999, US1Travel provided online access to the Sabre GDS via the internet to nearly 90 independent travel advisors nationwide.  In 2006, US1Travel was certified by Sabre as an authorized reseller of the online booking engine GetThere. This tool has allowed us to expand and be competitive in the corporate marketplace. 
			<br><br>
			As of June 2014, US1Travel has been providing hosting services to more than 150 independent travel advisors selling nearly 30 million dollars in travel bookings annually.  We create and utilize mobile apps for smart phones and mobile devices showing innovation in all areas of travel.

			US1Travel was accepted into the Virtuoso Network in January 2013 which puts us in the top 1% of the industry. Virtuoso is an invitation only luxury consortium which provides amenity programs exclusively for its members.	

			US1Travel continues to innovate with a rapidly changing industry which can be an asset to both independent travel advisors as well as businesses needing cost effective solutions for managing travel.

			</div>
		</div>
	</div>


	<div class = 'row' style = ''>
		<div class = 'col-lg-12 about' style = 'color:black; text-align:center'>
			<%= image_tag "arc.png",  alt: "US1Logo"%> 
			<%= image_tag "iata.png",  alt: "US1Logo"%> 
			<%= image_tag "sabre.png",  alt: "US1Logo"%> 
			<%= image_tag "getthere2.jpg",  alt: "US1Logo", style: 'padding-right: 20px;'%> 
			<%= image_tag "virtuoso.png",  alt: "US1Logo"%> 
		</div>
	</div>
</div>
</div>

</section>