<script src="https://dropinchat.com/dic.js"></script>
<h1>Home</h1>
<br>

<div class = "container">
<% @user = current_user %>
  <%= render "/users/menu" %>
  
  <div class="col-lg-10">
    <div class = 'row'>
    	<div class = "col-lg-4">
			<div class = 'moneyicon'><%= link_to "", current_user , class: "fa fa-pencil-square fa-5x dooby brown" %></div>
			<br>
			<h4>Blog</h4>
		</div>

		<div class = "col-lg-4">
			<div class = 'moneyicon'><%= link_to "", resources_airline_path , class: "fa fa-plane fa-5x dooby red" %></div>
			<br>
			<h4>Airlines</h4>
		</div>
		
		<div class = "col-lg-4">
			<div class = 'moneyicon'><%= link_to "", resources_cruise_path , class: "fa fa-anchor fa-5x dooby blue" %></div>
			<br>
			<h4>Cruises</h4>
		</div>

		
    </div>

    <div class = 'row' style = 'padding-top:80px'>
    	<div class = "col-lg-4" >
			<div class = 'moneyicon'><%= link_to "", resources_rail_path , class: "fa fa-gear fa-5x dooby green" %></div>
			<br>
			<h4>Rail</h4>
			
		</div>

		<div class = "col-lg-4">
			<div class = 'moneyicon'><%= link_to "", resources_car_path , class: "fa fa-road fa-5x dooby pink" %></div>
			<br>
			<h4>Car Rentals</h4>
		</div>

	    <div class = "col-lg-4 flighttrack" >
			<div class = 'moneyicon'><%= link_to "", resources_tour_path , class: "fa fa-compass fa-5x dooby yellow" %></div>
			<br>
			<h4>Tour</h4>	
		</div>
		
    </div>

  </div>

  
</div>