<h1>Airline Resources</h1>

<br>
<div class = "container">
  <% @user = current_user%>
  <%= render "/users/menu" %>
  
  <div class="col-lg-10">
    <ul style = 'color:black; padding-bottom:40px'>
      <li>
        <%=link_to "Air Canada", "https://www.aircanada.com/secure/ado/loadLogonPage.do", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Air France", "https://www.airfrance.biz/US/en/local/transverse/prehome/connexion.wadis", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Air New Zealand", "http://www.airnztravelagent.com/Login.aspx", :target => "_blank" %>  
      </li>
      <li>
        <%=link_to "Air Pacific", "http://www.airpacific.com/Agents/agentLogin.aspx?ReturnUrl=%2fAgents%2fagentAdmin.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Air Tahiti Nui", "http://www.airtahitinui-usa.com/agents/agentsmain.asp", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Air Tran", "https://tickets.airtran.com/LoginAgency.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Alaska Airlines", "https://www.alaskaair.com/travelagent/home.asp?url=/travelagent/Default.aspx", :target => "_blank" %> 
      </li><li>
        <%=link_to "Alitalia", "http://www.alitalia.com/US_EN/b2b/LoginB2B.aspx?applicationFlag=5", :target => "_blank" %> 
      </li><li>
        <%=link_to "British Airways", "https://psa.baplc.com/login", :target => "_blank" %> 
      </li><li>
        <%=link_to "Cathay Pacific", "http://www.cxagentsusa.com/program/login.asp", :target => "_blank" %>
      </li><li>
        <%=link_to "Cayman Airways", "https://cat.sabresonicweb.com/meridia?posid=88N7&sid=me2re72r9r2mvi-9yyv:9e6e84a6e21b834f52a477d01548bbec760469f49dd1ff7b2a81601f8665109a&&page=ssw_UserLoginMessage&action=requestLogin&requestFrom=profileRequest", :target => "_blank" %> 
      </li><li>
        <%=link_to "Continental Airlines", "http://www.continental.com/web/en-US/apps/agency/signInUser.aspx?ReturnPage=%2fweb%2fen-US%2fcontent%2fAgency%2fdefault.aspx", :target => "_blank" %> 
      </li><li>
        <%=link_to "Delta Airlines", "https://www.worldagentdirect.com/login.do", :target => "_blank" %> 
      </li><li>
        <%=link_to "Emirates Airline", "http://www.emiratesagents.com/english/Login.aspx?ref=http://www.emiratesagents.com/english/index.aspx", :target => "_blank" %> 
      </li><li>
        <%=link_to "Hahn Airlines", "http://hahnair.com/", :target => "_blank" %> 
        <%=link_to "Iceland Air", "https://packages.icelandair.is/fi_us/loginAgent.do", :target => "_blank" %> 
      </li><li>
        <%=link_to "Korean Air", "http://kal4agency.koreanair.com/", :target => "_blank" %>  
      </li><li>
        <%=link_to "Liat", "https://book.liatairline.com/skylights/cgi-bin/skylights.cgi?module=AG&mode=TA", :target => "_blank" %> 
      </li><li>
        <%=link_to "Lufthansa", "http://www.lufthansa.com/us/en/homepage", :target => "_blank" %> 
      </li><li>
        <%=link_to "Spirit Airlines", "http://www.spiritair.com/LoginAgent.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Thai Airways", "http://www.thaiairwaysusa.com/user/login", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Virgin Atlantic", "http://www.vsconfidential.com/login", :target => "_blank" %>
      </li>

      
      
    </ul>
  </div>

  
</div>

