<h1>Airline Resources</h1>

<br>
<div class = "container">
  <% @user = current_user%>
  <%= render "/users/menu" %>
  
  <div class="col-lg-10">
    <ul style = 'color:black; padding-bottom:40px' class = 'agentresources'>
      <li>
        <%=link_to "Air Canada", "https://www.aircanada.com/secure/ado/loadLogonPage.do", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Air Europa", " http://www.talaviation.com/Air-Europa-Russia", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Air France", "https://www.airfrance.biz/US/en/local/transverse/prehome/connexion.wadis", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Air India", "https://airindiaexpress.booksecure.net/login.aspx?lang=en-us", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Air Liason", "https://ameliaweb.intelisys.ca/airliaison/sitelogin.aspx?lang=en", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Air New Zealand", "http://www.airnztravelagent.com/Login.aspx", :target => "_blank" %>  
      </li>
      <li>
        <%=link_to "Air North", "https://www.flyairnorth.com/More/TravelAgents.aspx", :target => "_blank" %>  
      </li>
      <li>
        <%=link_to "Air Pacific", "http://www.airpacific.com/Agents/agentLogin.aspx?ReturnUrl=%2fAgents%2fagentAdmin.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Air Tahiti Nui", "http://www.airtahitinui-usa.com/agents/agentsmain.asp", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Air Tran", "https://tickets.airtran.com/LoginAgency.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Air Transat", "http://www.transatholidays.co.uk/", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Alaska Airlines", "https://www.alaskaair.com/travelagent/home.asp?url=/travelagent/Default.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Alitalia", "http://www.alitalia-agent.com/", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "American Airlines", "http://www.americanairlines.com/i18n/agencyPrograms/main.jsp", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Asiana Airlines", "https://us.flyasiana.com/I/en/Login.do", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Austrian Airlines", "https://book.austrian.com/app/pr.fly?l=en&pos=UK", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Avianca Airlines", "http://www.avianca.com/en-us/our-company/some-partners/travel-agencies.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "British Airways", "https://psa.baplc.com/login", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Brussels Airlines", "http://www.brusselsairlines.com/com/contact-us/travel-agencies.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Cayman Airways", "https://cat.sabresonicweb.com/meridia?posid=88N7&sid=me2re72r9r2mvi-9yyv:9e6e84a6e21b834f52a477d01548bbec760469f49dd1ff7b2a81601f8665109a&&page=ssw_UserLoginMessage&action=requestLogin&requestFrom=profileRequest", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Cathay Airways", "http://www.cxagentsusa.com/", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Continental Airlines", "http://www.continental.com/web/en-US/apps/agency/signInUser.aspx?ReturnPage=%2fweb%2fen-US%2fcontent%2fAgency%2fdefault.aspx", :target => "_blank" %> 
      </li><li>
        <%=link_to "Delta Airlines", "https://www.worldagentdirect.com/login.do", :target => "_blank" %> 
      </li><li>
        <%=link_to "Emirates Airline", "http://www.emiratesagents.com/english/Login.aspx?ref=http://www.emiratesagents.com/english/index.aspx", :target => "_blank" %> 
      </li><li>
        <%=link_to "Hahn Airlines", "http://www.hahnair.com/", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Hawaiian Airlines", "http://www.hawaiianairlines.com/programs/pages/travel-agents.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Hainan Airlines", "http://global.hnair.com/US/GB/Home", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Iberia Airlines", "https://www.iberiagencias.com/Iberiagencias/cambiarIdiomaLoginWeb.do?idioma=en", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Iceland Air", "https://packages.icelandair.is/fi_us/loginAgent.do", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Japan Airlines", "http://www.jalagency.com", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Jet Airways", "https://www.9wagents.com/", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "KLM", "http://www.klm.com/travel/gb_en/business/jsme/earning/email_travel_agent.htm", :target => "_blank" %> 
      </li>

      <li>
        <%=link_to "Korean Air", "http://kal4agency.koreanair.com/", :target => "_blank" %>  
      </li><li>
        <%=link_to "Lufthansa", "http://www.lufthansa.com/us/en/homepage", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Malaysia Airlines", "http://www.malaysiaairlines.com/my/en/commercial-services/corporate-travel.html", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Pacific Coastal Airlines", "https://ameliaweb.intelisys.ca/Pasco/AgentLogin.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Porter Airlines", "http://www.flyporter.com/Agent/Sign-Up?culture=en-CA", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Qatar Airlines", "https://tradepartners.qatarairways.com/AgentPortal/login.page?locale=en_us", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Royal Jordanian", "http://www.rj.com/en/travel_agent?_=1243", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Scandinavian Airlines", "http://www.sassalesinfo.com/us", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Siberia Airlines", "https://partner.s7.ru/bsp/Lists/AgentAgreementRequest/AgreementRequest.aspx?Country=US", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Singapore Airlines", "http://www.singaporeair.com/jsp/cms/en_UK/promotions/travel-agent-information.jsp", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Spirit Airlines", "http://www.spiritair.com/LoginAgent.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Swiss Air", "http://www.swiss.com/agent_news", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Sun Country Airlines", "https://book.suncountry.com/SCA/travelagent/travelAgentLogin.jsf", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Thai Airways", "http://www.thaiairwaysusa.com/user/login", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Taca Airlines", "http://www.taca.com/agents/", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Turkish Airlines", "http://www.turkishairlines.com/en-int/corporate/agencyinfo", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Ukraine International", "http://www.flyuia-agent.us/", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "United Airlines", "http://www.united.com/web/en-US/apps/agency/default.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "US Airways", "http://www.usairways.com/en-US/travelplanning/travelagent/default.html", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Virgin America", "http://www.virginamerica.com/vx/travel-agents", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Virgin Atlantic", "http://www.vsflyinghub.com/welcome-to-vsflyinghub", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "West Jet Airlines", "https://www.westjet.com/agent/en/sign-in.shtml", :target => "_blank" %> 
      </li>
      

      
      
    </ul>
  </div>

  
</div>

