<h1>Domestic Airports</h1>

<div class = 'container' style = 'padding-top: 30px;'>
	<div class = 'col-lg-4 col-md-4 airports'>
		<div class = 'airporttext'>	
			<%=link_to 'Anchorage', 'http://www.dot.state.ak.us/anc/'%> <br>
			<%=link_to 'Atlanta', 'http://www.atlanta-airport.com'%><br>
			<%=link_to 'Austin', 'http://www.austintexas.gov/airport'%><br>
			<%=link_to 'Boston', 'https://www.massport.com/logan-airport'%><br>
			<%=link_to 'Charlotte', 'http://charmeck.org/city/charlotte/Airport/Pages/default.aspx'%><br>
			<%=link_to 'Chicago', 'http://www.flychicago.com'%><br>
			<%=link_to 'Dallas', 'http://www.dfwairport.com'%><br>
			<%=link_to 'Denver', 'http://www.flydenver.com'%><br>
			<%=link_to 'El Paso', 'http://www.elpasointernationalairport.com'%><br>
			<%=link_to 'Eugene', 'http://www.eugene-or.gov/airport'%><br>
			<%=link_to 'Fairbanks', 'http://www.dot.state.ak.us/faiiap/index.shtml'%><br>
		</div>
	</div>
	<div class = 'col-lg-4 col-md-4 airports'>
		<div class = 'airporttext'>
			<%=link_to 'Fort Lauderdale', 'http://www.broward.org/airport/'%><br>
			<%=link_to 'Houston', 'http://www.fly2houston.com/'%><br>
			<%=link_to 'Jacksonville', 'http://www.flyjacksonville.com/'%><br>
			<%=link_to 'Las Vegas', 'https://www.mccarran.com'%><br>
			<%=link_to 'Los Angeles', 'http://www.lawa.org/welcomelax.aspx'%><br>
			<%=link_to 'Naples', 'http://www.flynaples.com/'%><br>
			<%=link_to 'New Orleans', 'http://www.flymsy.com'%><br>
			<%=link_to 'New York', 'http://www.panynj.gov/airports/jfk.html'%><br>
			<%=link_to 'Miami', 'http://www.miami-airport.com'%><br>
			<%=link_to 'Orlando', 'http://www.orlandoairports.net/'%><br>
			<%=link_to 'Phoenix', 'http://skyharbor.com/'%><br>
		</div>
	</div>
	<div class = 'col-lg-4 col-md-4 airports'>
		<div class = 'airporttext'>
		<%=link_to 'Philadelphia', 'http://www.phl.org'%><br>
		<%=link_to 'Portland', 'http://www.pdx.com'%><br>
		<%=link_to 'Salt Lake City', 'http://www.slcairport.com'%><br>
		<%=link_to 'San Antonio', 'https://www.sanantonio.gov/aviation'%><br>
		<%=link_to 'San Diego', 'http://www.san.org'%><br>
		<%=link_to 'San Francisco', 'http://www.flysfo.com'%><br>
		<%=link_to 'St. Louis', 'http://www.flystl.com/'%><br>
		<%=link_to 'Seattle', 'http://www.portseattle.org/sea-tac/'%><br>
		<%=link_to 'Tampa', 'http://www.tampaairport.com/'%><br>
		<%=link_to 'Washington DC', 'http://www.metwashairports.com/dulles/dulles.htm'%><br>
		</div>
	</div>
</div>


Phoenix
Philadelphia
Protland 
Salt Lake City
San Antonio
San Diego
San Francisco
St. Louis
Seattle
Tampa
Washington DC



