<h1>Domestic Airports</h1>

<div class = 'container' style = 'padding-top: 30px;'>
	<div class = 'col-lg-3 col-md-3 airports'>
		<div class = 'airporttext'>	
			<%=link_to 'Anchorage', 'http://www.dot.state.ak.us/anc/', :target => "_blank"%> <br>
			<%=link_to 'Atlanta', 'http://www.atlanta-airport.com', :target => "_blank"%><br>
			<%=link_to 'Austin', 'http://www.austintexas.gov/airport', :target => "_blank"%><br>
			<%=link_to 'Boston', 'https://www.massport.com/logan-airport', :target => "_blank"%><br>
			<%=link_to 'Charlotte', 'http://charmeck.org/city/charlotte/Airport/Pages/default.aspx', :target => "_blank"%><br>
			<%=link_to 'Chicago', 'http://www.flychicago.com', :target => "_blank"%><br>
			<%=link_to 'Dallas', 'http://www.dfwairport.com', :target => "_blank"%><br>
			<%=link_to 'Denver', 'http://www.flydenver.com', :target => "_blank"%><br>
		</div>
	</div>
	<div class = 'col-lg-3 col-md-3 airports'>
		<div class = 'airporttext'>
			<%=link_to 'El Paso', 'http://www.elpasointernationalairport.com', :target => "_blank"%><br>
			<%=link_to 'Eugene', 'http://www.eugene-or.gov/airport', :target => "_blank"%><br>
			<%=link_to 'Fairbanks', 'http://www.dot.state.ak.us/faiiap/index.shtml', :target => "_blank"%><br>
			<%=link_to 'Fort Lauderdale', 'http://www.broward.org/airport/', :target => "_blank"%><br>
			<%=link_to 'Houston', 'http://www.fly2houston.com/', :target => "_blank"%><br>
			<%=link_to 'Jacksonville', 'http://www.flyjacksonville.com/', :target => "_blank"%><br>
			<%=link_to 'Las Vegas', 'https://www.mccarran.com', :target => "_blank"%><br>
			<%=link_to 'Los Angeles', 'http://www.lawa.org/welcomelax.aspx', :target => "_blank"%><br>
		</div>
	</div>
	<div class = 'col-lg-3 col-md-3 airports'>
		<div class = 'airporttext'>
		<%=link_to 'Naples', 'http://www.flynaples.com/', :target => "_blank"%><br>
		<%=link_to 'New Orleans', 'http://www.flymsy.com', :target => "_blank"%><br>
		<%=link_to 'New York', 'http://www.panynj.gov/airports/jfk.html', :target => "_blank"%><br>
		<%=link_to 'Miami', 'http://www.miami-airport.com', :target => "_blank"%><br>
		<%=link_to 'Orlando', 'http://www.orlandoairports.net/', :target => "_blank"%><br>
		<%=link_to 'Phoenix', 'http://skyharbor.com/', :target => "_blank"%><br>
		<%=link_to 'Philadelphia', 'http://www.phl.org', :target => "_blank"%><br>
		<%=link_to 'Portland', 'http://www.pdx.com', :target => "_blank"%><br>
		</div>
	</div>
	<div class = 'col-lg-3 col-md-3 airports'>
		<%=link_to 'Salt Lake City', 'http://www.slcairport.com', :target => "_blank"%><br>
		<%=link_to 'San Antonio', 'https://www.sanantonio.gov/aviation', :target => "_blank"%><br>
		<%=link_to 'San Diego', 'http://www.san.org', :target => "_blank"%><br>
		<%=link_to 'San Francisco', 'http://www.flysfo.com', :target => "_blank"%><br>
		<%=link_to 'St. Louis', 'http://www.flystl.com/', :target => "_blank"%><br>
		<%=link_to 'Seattle', 'http://www.portseattle.org/sea-tac/', :target => "_blank"%><br>
		<%=link_to 'Tampa', 'http://www.tampaairport.com/', :target => "_blank"%><br>
		<%=link_to 'Washington DC', 'http://www.metwashairports.com/dulles/dulles.htm', :target => "_blank"%><br>
	</div>
</div>

