<h1>Tour Resources</h1>

<br>
<div class = "container">
  <% @user = current_user%>
  <%= render "/users/menu" %>
  
  <div class="col-lg-10">
    <ul style = 'color:black; padding-bottom:40px' class = 'agentresources'>
      <li>
        <%=link_to "Abercrombie & Kent", "http://www.abercrombiekent.com/login.cfm", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Adventures by Disney", "www.disneytravelagents.com", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "All About Tours Hawaii", "http://www.allabouthawaii.com/aat-h.br?t=login", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Amtrak Vacations", "https://book.amtrakvacations.com/Res/STWMain.aspx?Theme=AMTRAK&Action=Home", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Apple Vacations", "http://www.www.myappleonline.com", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Brendan Vacations", "http://www.brendanvacations.com/Agent/Login.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Blue Sky Tours", "https://login.www.vaxvacationaccess.com/Default.aspx?anchorstore=BLU&VendorCode=BLU", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Central Holidays", "http://www.CentralHolidays.com", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Classic Custom Vacations", "http://www.abercrombiekent.com/login.cfm", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Club Med", "http://www.clubmedta.com/", :target => "_blank" %>
      </li>
      <li>
        <%=link_to "Continental Vacations", "https://www.worldagentdirect.com", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Collette Vacations", "https://www.collettevacations.com/login.cfm", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Cosmos", "https://booking.cosmos.com/login.aspx?ReturnUrl=%2fbooking-management%2f", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Delta Vacations", "https://www.worldagentdirect.com/login.do", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Disney Travel", "http://www.disneytravelagents.com/portal/site/dta-domestic", :target => "_blank" %>
      </li>
      <li>
        <%=link_to "Down Under Answers", "www.agents.duatravel.com/index.php", :target => "_blank" %>
      </li>
      <li>
        <%=link_to "Europe Express", "http://www.europeexpress.com/EE_contact.aspx", :target => "_blank" %>
      </li>
      <li>
        <%=link_to "Funjet Vacations", "http://vacation.agentnet.com/anet/index.jsp", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Globus", "https://agents.globusfamily.com/login.aspx?ReturnUrl=%2fDefault.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Gogo Tours", "https://www.insightvacations.com/us/consultants/index.php", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Insight Vacations", "http://vacation.agentnet.com/anet/index.jsp", :target => "_blank" %>  
      </li>
      <li>
        <%=link_to "Pleasant Holidays", "https://www.pleasantholidays.com/PleasantHolidaysWeb/TALoginDisplay.do", :target => "_blank" %>
      </li>
      <li>
        <%=link_to "Sandals", "http://www.sandals.com/tas/", :target => "_blank" %> 
    </li>
      <li>
        <%=link_to "Southwest Airlines Vacations", "http://vacation.agentnet.com/anet/index.jsp", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Super Clubs", "http://taportal.iliit.com/Gateway.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Swain Tours", "http://www.swaintours.com/agents/index.asp", :target => "_blank" %> 
      <li>
        <%=link_to "Tahiti Legends", "http://www.tahitilegends.com/travel-agents/request-login.asp", :target => "_blank" %>
      </li>
      <li>
        <%=link_to "Travel Impressions", "https://quest.travimp.com/phase1/FEAgentLogin.cgi", :target => "_blank" %>
      </li>
      <li>
        <%=link_to "Trafalgar Tours", "http://www.trafalgartours.com/Agents/content.asp?id=1056", :target => "_blank" %>
      </li>
      <li>
        <%=link_to "Tauck Tours", "https://agent.tauck.com/Pages/Default.aspx", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "United Vacations", "https://login.www.vaxvacationaccess.com/default.aspx?anchorstore=IUA&vendorcode=IUA", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "US Airways Vacations", "http://www.usairwaysvacations.com/travelagents/registration.html ", :target => "_blank" %> 
      </li>
      <li>
        <%=link_to "Vacation Roost", "http://www.vacationroost.com/travel-agents/log-in.aspx", :target => "_blank" %> 
      </li>
    </ul>
  </div>

  
</div>

