
<h1>Traveler Resources</h1>



<div class = "container resources" style = 'padding-top:60px'>
	
	<div class = "col-lg-4 flighttrack" >
		<div class = 'moneyicon'><%=link_to "", "http://www.weather.com/activities/travel/businesstraveler/", :target => "_blank" , class: "fa fa-sun-o fa-5x doobop" %></i></div>
		<br>
		<h4>Weather</h4>
		<br> <br> <br>
		<div class = 'resourceicon'><%=link_to "", "http://www.tsa.gov/traveler-information", :target => "_blank" , class: "fa fa-globe fa-5x doobop" %></div>
		<br>
		<h4>TSA Guidelines</h4>
	</div>
	
	<div class = "col-lg-4">
		<div class = 'moneyicon'><%=link_to "", "http://www.oanda.com/currency/converter/", :target => "_blank" , class: "fa fa-money fa-5x doobop" %></i></div>
		<br>
		<h4>Currency Converter</h4>
		<br> <br> <br>
		<div class = 'moneyicon'><%=link_to "", "http://www.state.gov/travel/", :target => "_blank" , class: "fa fa-book fa-5x doobop" %></i></div>
		<br>
		<h4>US State Department</h4>
	</div>

	<div class = "col-lg-4">
		<div class = 'resourceicon'><%=link_to "", "http://flightaware.com/", :target => "_blank" , class: "fa fa-plane fa-5x doobop" %></div>
		<br>
		
		<h4>Flight Tracker</h4>
		<br> <br> <br>

		<div class = 'moneyicon'><%=link_to "", "http://wikitravel.org/en/Main_Page", :target => "_blank" , class: "fa fa-compass fa-5x doobop" %>  </div>
		<br>
		<h4>Travel Guides</h4>

	</div>

</div>

		
