
<div class = "btn-group-vertical col-lg-2">
	<%= link_to "Home", current_user, class: "btn btn-large btn-primary signoutbutton"%>
	<%if @user.admin? %>
	<%= link_to "All Agents", users_path, class: "btn btn-large btn-primary signoutbutton"%>
	<%= link_to "Create Agent", signup_path, class: "btn btn-large btn-primary signoutbutton"%>
	<%end%>
	<%= link_to "All Posts", posts_path, class: "btn btn-large btn-primary signoutbutton"%>
	<%= link_to "Resources", resources_agents_path , class: "btn btn-large btn-primary signoutbutton"%>
	<%= link_to "Sign out", signout_path, method: "delete" , class: "btn btn-large btn-primary signoutbutton"%>
	
</div>