

<h1>Create New Agent</h1>

<br>
<div class = "container">
  
  <%= render "menu" %>
  
  <div class="col-lg-10">
    <%= form_for(@user) do |f| %>
      <%= render 'shared/error_messages' %>

      <span style: 'display:block'>
      <%= label :admin, "Admin", style: 'color:black' %>
      <%= f.check_box :admin%> 
      <br>
      <%= label :admin, "Sabre", style: 'color:black' %>
      <%= f.check_box :sabre%> 
      <br>
      <%= label :admin, "NonGDS", style: 'color:black' %>
      <%= f.check_box :nongds%> 
      <br>
      </span>
      <br><br>

      <%= f.text_field :name , placeholder: "Name..."%>

      <%= f.text_field :email, placeholder: "Email..." %>

      <%= f.text_field :password, placeholder: "Password..." %>

      <%= f.text_field :password_confirmation, placeholder: "Password Confirmation..." %>
      
      <%= f.submit "Create account", class: "btn btn-large btn-primary signoutbutton" %>

    <% end %>
  </div>

  
</div>


  