<% @userid = @post.user_id %>
	<% @user = User.find(@userid)%>
<h1><%= @post.title %></h1>

<div class = "container">
	
	<%= render "/users/menu" %>
	
	<div class = "col-lg-10">
		<div class = post>
		
		<h4 class = 'posttitle'>  Author: <%= @user.name %> </h4>
		<h4 class = 'posttime'>Created: <%= @post.created_at.strftime("%H:%M")%>, <%=@post.created_at.strftime("%b %d. %Y")%> </h3>
		
		<p class = 'postcontent'><%= @post.content %></p>
		</div>
	</div>
	
</div>

		

