<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<!-- Fonts -->
<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Open+Sans|Oswald">


<nav class="navbar navbar-home " role="navigation">
        <div class="container">
            <div class = "row">
                <div class="navbar-header logotitle col-md-4 col-lg-4">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    </button>
                    <div class="navbar-brand">
                    	<%= image_tag "logoalter.png", size: "75x75", alt: "US1Logo"%> <%= link_to "US1 Travel", root_path, class: "home-button"%>
                    </div>

                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-right navbar-main-collapse col-md-8 col-lg-8">
                    
                    <ul class="nav navbar-nav links">
                        <li class = "dropdown">
                            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Resources <b class = "caret"></b></a>
                            <ul class = "dropdown-menu">
                                    <li><%= link_to "Currency Converter", "http://www.oanda.com/currency/converter/", :target => "_blank"%></li>
                                    <li><%=link_to "Flight Tracker", "http://flightaware.com/", :target => "_blank"%></li>
                                    <li><%=link_to "Airport Information", resources_airport_path%></li>
                                    <li><%=link_to "Weather", "http://www.weather.com/activities/travel/businesstraveler/", :target => "_blank"%></li>
                                    <li><%=link_to "TSA Information", "http://www.tsa.gov/traveler-information", :target => "_blank"%></li>
                                    <li><%=link_to "Visa Information", "http://travel.state.gov/content/passports/english/country.html", :target => "_blank"%></li>
                                    <li><%=link_to "State Department", "http://www.state.gov/travel/", :target => "_blank"%></li>
                                    
                            </ul>
                            
                        </li>

                        <li class = "dropdown">
                            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Travel Advisors <b class = "caret"></b></a>
                            <ul class = "dropdown-menu">
                                    <% if signed_in? %>
                                        <li><%= link_to "Profile", current_user%></li>    
                                    <% else %>
                                        <li><%= link_to "Sabre Users", new_session_path%></li>
                                    <%end%>
                                    <li><%= link_to "Non GDS Users", root_path%></li>
                                    <li><%= link_to "Host Agency", root_path%></li>
                            </ul>    
                        </li>

                        <li class = "dropdown">
                            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Getthere <b class = "caret"></b></a>
                            <ul class = "dropdown-menu">
                                    <li><%= link_to "About GT", getthere_about_path%></li>
                                    <li><%= link_to "Login", getthere_portal_path%></li>
                            </ul>
                        </li>
                        <!--
                        <li class = "dropdown">
                            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Travel <b class = "caret"></b></a>
                            <ul class = "dropdown-menu">
                                    <li><%= link_to "Tour Packages", travel_tour_path%></li>
                                    <li><%= link_to "Cruise Lines", travel_cruise_path%></li>
                                    <li><%= link_to "Rail", travel_rail_path%></li>
                                    <li><%= link_to "Car Rentals", travel_car_path%></li>
                            </ul>
                            
                        </li>
                        <li class = "dropdown">
                            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Corporate <b class = "caret"></b></a>
                            <ul class = "dropdown-menu">
                                    <li><%= link_to "Private Jets", corporate_privatejets_path%></li>
                                    <li><%= link_to "Online Booking", corporate_onlinebooking_path%></li>
                            </ul>
                        </li> -->
                        <li class = "dropdown">
                            <a href = "#" class = "dropdown-toggle" data-toggle = "dropdown"> Virtuoso <b class = "caret"></b></a>
                            <ul class = "dropdown-menu">
                                    <li><%= link_to "Luxury Specialist Program", virtuoso_luxury_path%></li>
                                    <li><%= link_to "Virtuoso Website", 'http://www.virtuoso.com/', :target => "_blank"%></li>
                            </ul>
                        </li>
                        <li > 
                            <%= link_to "About", about_path, class: "dropdown-toggle dropdown-main"%>
                        </li>
                        <li > 
                            <%= link_to "Contact", contact_path, class: "dropdown-toggle dropdown-main"%>
                        </li>

                        
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.row -->    
        </div>
        <!-- /.container -->
    </nav>